<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <ng-container *ngFor="let group of formModel.groups">
        <li ngbNavItem="{{group.name}}">
          <a ngbNavLink>{{group.title}}</a>
          <ng-template ngbNavContent formGroupName="{{group.name}}">
            {{group.title}}
            <div class="row">
              <app-control class="{{'col-' + control.width + ' mt-3'}}" *ngFor="let control of group.controls" [control]="control" [form]="form.controls[group.name]"></app-control>
            </div>
          </ng-template>
        </li>
      </ng-container>
    </ul>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
