<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical" style="min-width: 200px">
<!--      <ng-container *ngFor="let group of formModel.groups">-->
      <li ngbNavItem="{{formModel.groups['generalInfo'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['generalInfo'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['generalInfo'].name}}">
          {{formModel.groups['generalInfo'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['firstName']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['lastName']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['middleName']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['birthday']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['gender']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['maritalStatus']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['jobData'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['jobData'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['jobData'].name}}">
          {{formModel.groups['jobData'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['jobData'].controls['position']" [form]="form.controls[formModel.groups['jobData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['jobData'].controls['academicDegree']" [form]="form.controls[formModel.groups['jobData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['jobData'].controls['category']" [form]="form.controls[formModel.groups['jobData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['jobData'].controls['degree']" [form]="form.controls[formModel.groups['jobData'].name]"></app-control>
          </div>
        </ng-template>
      </li>
<!--      </ng-container>-->
    </ul>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
