/*---LOGIN---*/

.login {
  &__header {
    height: 60px;
    background-color: var(--white);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    &-title {
      font-family: Open Sans, serif;
      font-weight: 600;
      font-size: 24px;
      color: var(--accent-blue);
      margin: 15px 0 0 24px;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}




.login__header {
  height: 60px;
  background-color: var(--white);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}



.login__header-title {
  font-family: Open Sans, serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--accent-blue);
  margin: 15px 0 0 24px;
}

.login__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title {
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 63px;
}

.form {
  background: var(--white);
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 10px 52px 33px;
}

.forgot-link {
  color: var(--gray);
  text-decoration: none;
  font-weight: 500;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 36px 0;
}

.forgot-link img {
  margin-right: 14px;
}

.form app-control {
  margin-top: 42px;
}

.form .btn {
  align-self: center;
}


.login__body {
  margin: 0;
  background-color: #F5F6F8;
  display: flex;
  color: var(--dark-blue);
  font-size: 14px;
}
