<main class="content-wrapper">
  <div class="card p-4 header">
    <div class="title">
      <h2>
        СКЛАД
      </h2>
      <div class="basket">
        <i-feather name="shopping-cart"></i-feather>
        <h2 class="counter">3</h2>
      </div>
    </div>
    <div class="searchbar pt-2">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="stock__nav" orientation="horizontal">
        <li [ngbNavItem]="'equipment'" class="mt-1">
          <a ngbNavLink>Оборудование</a>
          <ng-template ngbNavContent>
            <div class="records__container">
              <div class="records__header">
                <div class="records__search">
                  <img class="records__search-icon" src="./assets/img/header/search.svg" alt="">
                  <input type="text" class="records__search-input" placeholder="Search colleague">
                </div>
                <div class="records__filter">
                  <div class="records__view">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                      <path d="M3 3.7H20C20.1634 3.7 20.3 3.8366 20.3 4V10C20.3 10.1634 20.1634 10.3 20 10.3H3C2.8366 10.3 2.7 10.1634 2.7 10V4C2.7 3.8366 2.8366 3.7 3 3.7ZM3 13.7H20C20.1634 13.7 20.3 13.8366 20.3 14V20C20.3 20.1634 20.1634 20.3 20 20.3H3C2.8366 20.3 2.7 20.1634 2.7 20V14C2.7 13.8366 2.8366 13.7 3 13.7Z" stroke-width="1.4"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="records__body">
                <div class="report-wrapper">
                  <table class="report">
                    <thead class="report__header">
                    <tr>
                      <th>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="0">
                          <label for="0" class="custom-checkbox__label"></label>
                        </div>
                      </th>
                      <th><span class="report__header-text">Doctor</span></th>
                      <th><span class="report__header-text">Title</span></th>
                      <th><span class="report__header-text">Status</span></th>
                      <th><span class="report__header-text">Payment</span></th>
                      <th><span class="report__header-text">Diagnosis</span></th>
                    </tr>
                    </thead>
                    <tbody class="report__body">
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="1">
                          <label for="1" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="2">
                          <label for="2" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="3">
                          <label for="3" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="4">
                          <label for="4" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="5">
                          <label for="5" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="6">
                          <label for="6" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="7">
                          <label for="7" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="8">
                          <label for="8" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="9">
                          <label for="9" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="10">
                          <label for="10" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="11">
                          <label for="11" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="12">
                          <label for="12" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" id="13">
                          <label for="13" class="custom-checkbox__label"></label>
                        </div>
                        <!--                        <input type="checkbox">-->
                      </td>
                      <td>
                        <div class="report__user">
                          <img class="report__avatar" src="./assets/img/sidebar/avatar.png" alt="">
                          <p class="report__name">Lindsey Stroud</p>
                        </div>
                      </td>
                      <td>CDV04062020 - Titile</td>
                      <td>Awaiting confirmation</td>
                      <td>Insurance</td>
                      <td>Lorem ipsum dolor m.</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
                <div class="tiles-wrapper">
                  <div class="tile">
                    <div class="tile__header">
                      <h3 class="tile__title">DCV040620 - подозрение на флюз</h3>
                      <div class="tile__call">Call</div>
                    </div>
                    <div class="tile__body">
                      <div class="tile__label">Date:</div>
                      <div class="tile__text">December 23, 2018</div>
                    </div>
                    <div class="tile__footer">
                      <div class="tile__user">
                        <div class="tile__img-wrapper"><img src="./assets/img/sidebar/avatar.png" alt=""></div>
                        <h5 class="tile__name">Dr. Alexandra Kurchik</h5>
                      </div>
                      <div class="tile__actions">
                        <div class="tile__edit">                <i data-feather="edit-2"></i></div>
                        <div class="tile__delete">                <i data-feather="trash-2"></i></div>
                        <div class="tile__status">Status</div>
                      </div>
                    </div>
                  </div>
                  <div class="tile">
                    <div class="tile__header">
                      <h3 class="tile__title">DCV040620 - подозрение на флюз</h3>
                      <div class="tile__call">Call</div>
                    </div>
                    <div class="tile__body">
                      <div class="tile__label">Date:</div>
                      <div class="tile__text">December 23, 2018</div>
                    </div>
                    <div class="tile__footer">
                      <div class="tile__user">
                        <div class="tile__img-wrapper"><img src="./assets/img/sidebar/avatar.png" alt=""></div>
                        <h5 class="tile__name">Dr. Alexandra Kurchik</h5>
                      </div>
                      <div class="tile__actions">
                        <div class="tile__edit">                <i data-feather="edit-2"></i></div>
                        <div class="tile__delete">                <i data-feather="trash-2"></i></div>
                        <div class="tile__status">Status</div>
                      </div>
                    </div>
                  </div>
                  <div class="tile">
                    <div class="tile__header">
                      <h3 class="tile__title">DCV040620 - подозрение на флюз</h3>
                      <div class="tile__call">Call</div>
                    </div>
                    <div class="tile__body">
                      <div class="tile__label">Date:</div>
                      <div class="tile__text">December 23, 2018</div>
                    </div>
                    <div class="tile__footer">
                      <div class="tile__user">
                        <div class="tile__img-wrapper"><img src="./assets/img/sidebar/avatar.png" alt=""></div>
                        <h5 class="tile__name">Dr. Alexandra Kurchik</h5>
                      </div>
                      <div class="tile__actions">
                        <div class="tile__edit">                <i data-feather="edit-2"></i></div>
                        <div class="tile__delete">                <i data-feather="trash-2"></i></div>
                        <div class="tile__status">Status</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'instruments'" class="mt-1">
          <a ngbNavLink>Инструменты</a>
          <ng-template ngbNavContent>
            Content
          </ng-template>
        </li>
        <li [ngbNavItem]="'resources'" class="mt-1">
          <a ngbNavLink>Ресурсы</a>
          <ng-template ngbNavContent>
            Content
          </ng-template>
        </li>
      </ul>
      <div class="search ml-4 px-3">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for a contact">
      </div>
    </div>
  </div>
  <div class="nav-content mt-3">
    <div [ngbNavOutlet]="nav"></div>
  </div>
</main>
