<main class="content-wrapper">
  <div class="card p-4 header">
    <div class="title">
      <h2 class="name">
        СКЛАД
      </h2>
      <ng-template #popContent>
        <div (mouseleave)="popover.close()" class="p-2">
            <ng-template *ngFor="let item of tableParams.body" [ngIf]="item.count > 0">
              <p>{{item.items[0].content + ' ' + item.items[3].content + ' x ' + item.count}}</p>
            </ng-template>
            <button class="btn btn-primary mt-3">Send request</button>
        </div>
      </ng-template>
      <div class="basket" [ngbPopover]="popContent" triggers="manual" (mouseenter)="popover.open()" placement="left" #popover="ngbPopover" container="body" [disablePopover]="tableParams.totalCount == 0">
        <i-feather name="shopping-cart"></i-feather>
        <h2 class="counter ml-2">3</h2>
      </div>
    </div>
    <div class="searchbar pt-2">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="stock__nav" orientation="horizontal">
        <li [ngbNavItem]="'equipment'" class="mt-1">
          <a ngbNavLink>Оборудование</a>
          <ng-template ngbNavContent>
            <div class="report-wrapper">
              <app-table [params]="tableParams"></app-table>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="'instruments'" class="mt-1">
          <a ngbNavLink>Инструменты</a>
          <ng-template ngbNavContent>
            Content
          </ng-template>
        </li>
        <li [ngbNavItem]="'resources'" class="mt-1">
          <a ngbNavLink>Ресурсы</a>
          <ng-template ngbNavContent>
            Content
          </ng-template>
        </li>
      </ul>
      <div class="search ml-4 px-3">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for a contact">
      </div>
    </div>
  </div>
  <div class="nav-content mt-3">
    <div [ngbNavOutlet]="nav"></div>
  </div>
</main>
