<div class="modal-header">
  <h4 class="modal-title">Add patients</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical" style="min-width: 200px">
      <li ngbNavItem="{{formModel.groups['generalInfo'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['generalInfo'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['generalInfo'].name}}">
          {{formModel.groups['generalInfo'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['firstName']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['lastName']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['middleName']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['birthday']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['gender']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>
<!--            <app-control class="col-6 mt-3" [control]="formModel.groups['generalInfo'].controls['maritalStatus']" [form]="form.controls[formModel.groups['generalInfo'].name]"></app-control>-->
            <div class="col-6 mt-3">Reserved for checkbox</div>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['contactInfo'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['contactInfo'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['contactInfo'].name}}">
          {{formModel.groups['contactInfo'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['email']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['mobilePhone']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['addPhone']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['country']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['region']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['city']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['index']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['street']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['building']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['contactInfo'].controls['apartment']" [form]="form.controls[formModel.groups['contactInfo'].name]"></app-control>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['passportData'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['passportData'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['passportData'].name}}">
          {{formModel.groups['passportData'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['passportData'].controls['passportScan']" [form]="form.controls[formModel.groups['passportData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['passportData'].controls['address']" [form]="form.controls[formModel.groups['passportData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['passportData'].controls['passportNumber']" [form]="form.controls[formModel.groups['passportData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['passportData'].controls['whenIssued']" [form]="form.controls[formModel.groups['passportData'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['passportData'].controls['issuedBy']" [form]="form.controls[formModel.groups['passportData'].name]"></app-control>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['photo'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['photo'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['photo'].name}}">
          {{formModel.groups['photo'].title}}
          <div class="row">

          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['parent'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['parent'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['parent'].name}}">
          {{formModel.groups['parent'].title}}
          <div class="row">

          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['generalMedicalInfo'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['generalMedicalInfo'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['generalMedicalInfo'].name}}">
          {{formModel.groups['generalMedicalInfo'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalMedicalInfo'].controls['chronicDiseases']" [form]="form.controls[formModel.groups['generalMedicalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalMedicalInfo'].controls['bloodGroup']" [form]="form.controls[formModel.groups['generalMedicalInfo'].name]"></app-control>
            <app-control class="col-6 mt-3" [control]="formModel.groups['generalMedicalInfo'].controls['allergy']" [form]="form.controls[formModel.groups['generalMedicalInfo'].name]"></app-control>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem="{{formModel.groups['paymentInfo'].name}}" class="mt-1">
        <a ngbNavLink>{{formModel.groups['paymentInfo'].title}}</a>
        <ng-template ngbNavContent formGroupName="{{formModel.groups['paymentInfo'].name}}">
          {{formModel.groups['paymentInfo'].title}}
          <div class="row">
            <app-control class="col-6 mt-3" [control]="formModel.groups['paymentInfo'].controls['insuranceCompany']" [form]="form.controls[formModel.groups['paymentInfo'].name]"></app-control>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
