.report__user {
  display: flex;
}

.report__avatar {
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

.report__name {
  margin-left: 12px;
  font-weight: 500;
  font-size: 15px;
  color: var(--table-black);
  text-decoration: none;
}

td {
  padding: 20px 12px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: var(--table-gray);
  border-bottom: 1px solid #EBEFF2;
}

td:first-child {
  padding-left: 24px;
}

td:last-child  {
  text-align: right;
  padding-right: 24px;
}
