///*---UTIL---*/
//
@import url('./assets/fonts/stylesheet.css');
@import url('./assets/fonts/opensans.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Circe', serif;
  --accent-blue: #109CF1;
  --dark-blue: #334D6E;
  --gray: #90A0B7;
  --black: #192A3E;
  --white: #FFFFFF;
  --table-black: #323C47;
  --table-gray: #707683;
}

input {
  font-family: 'Circe', serif;
}

.input-group {
  display: flex;
  flex-direction: column-reverse;
}

.input-group label {
  font-weight: 500;
  font-size: 11px;
  color: #818E9B;
}

.input-group input {
  border: none;
  border-bottom: 1px solid #D3D8DD;
  font-weight: normal;
  font-size: 13px;
  color: var(--table-black);
  padding-bottom: 6px;
}

.input-group input::placeholder {
  opacity: 0.5;
  color: var(--table-black);
}

.input-group input {
  border: none;
  border-bottom: 1px solid #D3D8DD;
  font-weight: normal;
  font-size: 13px;
  color: var(--table-black);
  padding-bottom: 6px;
}

.input-group input:focus {
  outline: none;
  border-bottom: 1px solid #818E9B;
}

.input-group input:focus ~ label {
  color: #109CF1;
}



.input-group textarea {
  border: none;
  border-bottom: 1px solid #D3D8DD;
  font-weight: normal;
  font-size: 13px;
  color: var(--table-black);
  padding-bottom: 6px;
}

.input-group textarea::placeholder {
  opacity: 0.5;
  color: var(--table-black);
}

.input-group textarea {
  font-family: 'Circe', serif;
  resize: none;
  border: none;
  border-bottom: 1px solid #D3D8DD;
  font-weight: normal;
  font-size: 13px;
  color: var(--table-black);
  padding-bottom: 6px;
}

.input-group textarea:focus {
  outline: none;
  border-bottom: 1px solid #818E9B;
}

.input-group textarea:focus ~ label {
  color: #109CF1;
}




.btn:focus {
  outline: none;
}

.btn {
  min-width: 160px;
  padding: 11px 15px;
  border-radius: 4px;
  -webkit-appearance: none;
  color: var(--accent-blue);
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #34AFF9;
}

.btn:active {
  color: #098EDF;
}

.btn[disabled] {
  opacity: 0.4;
  color: var(--accent-blue)
}

.btn-secondary {
  border-color: var(--accent-blue)
}

.btn-secondary:hover {
  border-color: #34AFF9;
}

.btn-secondary:active {
  border-color: #098EDF;
}

.btn-secondary[disabled] {
  border-color: var(--accent-blue)
}

.btn-primary {
  background-color: var(--accent-blue);
  color: var(--white);
  border-color: var(--accent-blue);
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
}

.btn-primary:hover {
  color: var(--white);
  background-color: #34AFF9;
  border-color: #34AFF9;
  box-shadow: 0px 8px 16px rgba(52, 175, 249, 0.2);
}

.btn-primary:active {
  color: var(--white);
  background-color: #098EDF;
  border-color: #098EDF;
  box-shadow: 0px 2px 6px rgba(9, 142, 223, 0.3);
}

.btn-primary[disabled] {
  color: var(--white);
  background: #C2CFE0;
  border-color: #C2CFE0;
  box-shadow: none;
}

.tabs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  border-bottom: 1px solid #EBEFF2;
}

.tabs__item + .tabs__item {
  margin-left: 25px;
}

.tabs__link {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 20px 0;
  color: var(--dark-blue);
}

.tabs__link:hover {
  color: var(--black);
}

.tabs__link.active {
  color: var(--accent-blue);
}

.tabs__link.active:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: var(--accent-blue);
  height: 1px;
}

.tab-content>#details, .tab-content>#records {
  padding: 20px;
}

.tab-content > div {
  display: none;
}

.tab-content > div:first-child {
  display: block;
}
